Repository systmms/dsops: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

docs(rotation): add example configs for Phase 5 features
  examples/gradual-rollout/canary.yaml
  examples/gradual-rollout/kubernetes.yaml
  examples/gradual-rollout/percentage.yaml
  examples/gradual-rollout/service-group.yaml
  examples/health-checks/combined.yaml
  examples/health-checks/custom-script.yaml
  examples/health-checks/http-health.yaml
  examples/health-checks/sql-health.yaml
  examples/notifications/email.yaml
  examples/notifications/multi-channel.yaml
  examples/notifications/pagerduty.yaml
  examples/notifications/slack.yaml
  examples/notifications/webhook.yaml
Due: none

chore(rotation): mark Phase 5 documentation tasks complete
  specs/009-phase-5-completion/tasks.md
Due: none

feat(rotation): add rollback notification templates and enhanced metadata
  internal/rotation/notifications/templates.go
  internal/rotation/rollback/manager.go
  specs/009-phase-5-completion/tasks.md
Due: unittests

test(notifications): add integration tests for email, pagerduty, and webhook
  internal/rotation/notifications/pagerduty.go
  specs/009-phase-5-completion/tasks.md
  tests/integration/docker-compose.yml
  tests/integration/notifications_email_test.go
  tests/integration/notifications_pagerduty_test.go
  tests/integration/notifications_webhook_test.go
Due: unittests, integration

ci: fix workflow failures - remove Codecov and fix Vault health check
  .github/workflows/integration.yml
  .github/workflows/test.yml
Due: none

fix: resolve golangci-lint errcheck and staticcheck issues
  cmd/dsops/commands/helpers.go
  cmd/dsops/commands/rotation_status.go
  cmd/dsops/commands/rotation_test.go
  internal/providers/vault/vault_unit_test.go
  pkg/protocol/sql.go
  pkg/rotation/examples_test.go
  pkg/secretstore/examples_test.go
  tests/integration/rotation/postgres_test.go
Due: unittests

test(commands): add tests for providers, init, and shred commands
  cmd/dsops/commands/init_test.go
  cmd/dsops/commands/providers_test.go
  cmd/dsops/commands/shred_test.go
Due: none

ci: fix integration tests and add command tests for coverage
  .github/workflows/integration.yml
  cmd/dsops/commands/guard_test.go
  cmd/dsops/commands/install_hook_test.go
  cmd/dsops/commands/leak_test.go
  cmd/dsops/commands/login_test.go
  cmd/dsops/commands/secrets_test.go
Due: none

test(rotation): add comprehensive tests for pkg/rotation
  pkg/rotation/engine_test.go
  pkg/rotation/random_test.go
  pkg/rotation/registry_test.go
  pkg/rotation/storage_test.go
Due: none

fix(test): prevent premature context cancellation in PostgresTestClient
  tests/testutil/docker.go
Due: none

test(rotation): remove flaky concurrent_user_operations test
  tests/integration/rotation/postgres_test.go
Due: none

fix(tests): resolve integration test hangs and improve CI coverage reporting
  .github/workflows/ci.yml
  .github/workflows/integration.yml.disabled
  .github/workflows/test.yml.disabled
  internal/rotation/health/monitor.go
  tests/integration/docker-compose.yml
Due: unittests, integration

fix(ci): add golangci-lint action and fix test issues
  .github/workflows/ci.yml
  pkg/rotation/storage_test.go
  tests/integration/providers/error_handling_test.go
  tests/integration/providers/vault_test.go
Due: none

chore: ignore all coverage*.txt files
  .gitignore
Due: none

ci: update Go version from 1.22 to 1.23 to fix cache conflicts
  .github/workflows/ci.yml
Due: none

ci: upgrade Go to 1.25.5 and golangci-lint to v2.7.2
  .github/workflows/ci.yml
  .github/workflows/integration.yml.disabled
  .github/workflows/test.yml.disabled
  Makefile
  flake.nix
  go.mod
  go.sum
  internal/errors/errors_test.go
  tests/fakes/gcp_sdk_fake.go
Due: none

fix(notifications): improve email header injection prevention
  internal/rotation/notifications/email.go
  internal/rotation/notifications/email_test.go
Due: unittests

fix(tests): replace localhost with 127.0.0.1 to fix IPv6 resolution issues
  .github/workflows/ci.yml
  tests/integration/e2e/edge_cases_test.go
  tests/integration/e2e/multi_provider_test.go
  tests/integration/e2e/workflow_test.go
  tests/integration/health_test.go
  tests/integration/notifications_email_test.go
  tests/integration/providers/error_handling_test.go
  tests/integration/providers/vault_test.go
  tests/testutil/docker.go
Due: none

fix(providers): resolve data race in Vault client and enable LocalStack testing
  internal/providers/aws_secretsmanager.go
  internal/providers/aws_ssm.go
  internal/providers/vault/client.go
  internal/providers/vault/vault.go
  internal/providers/vault/vault_unit_test.go
  tests/integration/providers/aws_test.go
  tests/integration/providers/vault_test.go
Due: unittests

ci: lower coverage threshold from 80% to 50%
  .github/workflows/ci.yml
Due: none

feat(specs): add SPEC-020 release & distribution infrastructure
  CLAUDE.md
  specs/020-release-distribution/checklists/requirements.md
  specs/020-release-distribution/contracts/Dockerfile
  specs/020-release-distribution/contracts/goreleaser.yaml
  specs/020-release-distribution/contracts/release.yaml
  specs/020-release-distribution/data-model.md
  specs/020-release-distribution/plan.md
  specs/020-release-distribution/quickstart.md
  specs/020-release-distribution/research.md
  specs/020-release-distribution/spec.md
  specs/020-release-distribution/tasks.md
Due: none

feat(release): add automated release infrastructure
  .dockerignore
  .github/workflows/release.yml
  .goreleaser.yml
  Dockerfile
  docs/content/getting-started/installation.md
  docs/developer/releasing.md
  specs/020-release-distribution/plan.md
  specs/020-release-distribution/research.md
  specs/020-release-distribution/spec.md
  specs/020-release-distribution/tasks.md
Due: none

feat(release): add release-please for automated versioning
  .github/workflows/release-please.yml
  .release-please-manifest.json
  docs/developer/releasing.md
  release-please-config.json
  specs/020-release-distribution/spec.md
  specs/020-release-distribution/tasks.md
Due: none

fix: address PR review feedback
  .goreleaser.yml
  Dockerfile
  specs/020-release-distribution/contracts/Dockerfile
  specs/020-release-distribution/contracts/release.yaml
  specs/020-release-distribution/plan.md
  specs/020-release-distribution/spec.md
  specs/020-release-distribution/tasks.md
Due: none

ci: add release config validation and align linter versions
  .github/workflows/release-config-check.yml
  .github/workflows/release.yml
Due: none

ci: add build attestations and security scanning
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): resolve goreleaser and gosec CI failures
  .github/workflows/ci.yml
  .goreleaser.yml
  .gosec.yaml
Due: none

fix(ci): convert gosec config to JSON and fix CI workflows
  .github/workflows/ci.yml
  .github/workflows/release-config-check.yml
  .github/workflows/release.yml
  .goreleaser.yml
  .gosec.json
  .gosec.yaml
  Dockerfile
  go.mod
Due: none

feat(cli): add shell completion command
  cmd/dsops/commands/completion.go
  cmd/dsops/main.go
  completions/.gitkeep
Due: unittests

docs: update Go version and pre-1.0.0 versioning documentation
  CLAUDE.md
  docs/developer/releasing.md
  specs/005-testing-strategy/plan.md
  specs/005-testing-strategy/quickstart.md
  specs/009-phase-5-completion/plan.md
  specs/020-release-distribution/contracts/Dockerfile
  specs/020-release-distribution/contracts/goreleaser.yaml
  specs/020-release-distribution/contracts/release.yaml
  specs/020-release-distribution/research.md
  specs/020-release-distribution/spec.md
Due: none

fix(ci): use .gosec.json as single source for security exclusions
  .github/workflows/ci.yml
  Makefile
Due: none

chore(dev): add gosec to nix development environment
  flake.nix
Due: none

fix(ci): optimize security scanning and add dependency checks
  .github/workflows/ci.yml
  Makefile
  flake.nix
Due: none

fix(ci): add gosec exclusions for false positives and intentional patterns
  .gosec.json
Due: none

fix(release): address PR review feedback from Gemini and Copilot
  .goreleaser.yml
  Makefile
  specs/020-release-distribution/research.md
Due: none

fix(dev): install golangci-lint and govulncheck via go install
  flake.nix
Due: none

fix(security): update Go to 1.25.5 to address crypto/x509 vulnerabilities
  Dockerfile
  go.mod
Due: none

fix(test): prevent Docker network conflicts in parallel integration tests
  tests/integration/docker-compose.yml
  tests/testutil/docker.go
Due: integration

fix(test): enable AWS integration tests to run locally with LocalStack
  internal/providers/aws_secretsmanager.go
  internal/providers/aws_ssm.go
  tests/testutil/docker.go
Due: unittests

chore(main): release 0.2.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

Path conditions:
  unittests: any of: internal/, pkg/, cmd/, but not: tests/fixtures/**/*, tests/mocks/**/*, tests/fakes/**/*, tests/testutil/**/*, **/*_test.go, vendor/**/*, examples/**/*
  integration: any of: tests/integration/, but not: tests/fixtures/**/*, tests/mocks/**/*, tests/fakes/**/*, tests/testutil/**/*, **/*_test.go, vendor/**/*, examples/**/*
