Repository systmms/dsops: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

feat(rotation): add email, pagerduty, and webhook notification providers
  internal/rotation/notifications/email.go
  internal/rotation/notifications/email_test.go
  internal/rotation/notifications/pagerduty.go
  internal/rotation/notifications/pagerduty_test.go
  internal/rotation/notifications/webhook.go
  internal/rotation/notifications/webhook_test.go
  specs/009-phase-5-completion/tasks.md
Due: unittests

feat(rotation): add manual rollback CLI command
  cmd/dsops/commands/rotation.go
  cmd/dsops/commands/rotation_rollback.go
  cmd/dsops/commands/rotation_rollback_test.go
  tests/integration/rollback/manual_test.go
Due: unittests

feat(rotation): add rollback notification templates and enhanced metadata
  internal/rotation/notifications/templates.go
  internal/rotation/rollback/manager.go
  specs/009-phase-5-completion/tasks.md
Due: unittests

feat(health): add health monitoring system with SQL and HTTP checkers
  internal/rotation/health/http.go
  internal/rotation/health/http_test.go
  internal/rotation/health/monitor.go
  internal/rotation/health/monitor_test.go
  internal/rotation/health/sql.go
  internal/rotation/health/sql_test.go
  tests/integration/health_test.go
Due: unittests

feat(health): add custom script health checker
  internal/rotation/health/script.go
  internal/rotation/health/script_test.go
Due: unittests

feat(health): add Prometheus metrics with HTTP server
  internal/config/config.go
  internal/rotation/health/metrics.go
  internal/rotation/health/metrics_test.go
  internal/rotation/health/server.go
  pkg/rotation/engine.go
Due: unittests

docs(spec-009): mark phases 10-12 tasks as complete
  specs/009-phase-5-completion/tasks.md
Due: none

feat(rotation): add canary rollout strategy with discovery providers
  internal/rotation/gradual/canary.go
  internal/rotation/gradual/canary_test.go
  internal/rotation/gradual/discovery/explicit.go
  internal/rotation/gradual/discovery/explicit_test.go
  internal/rotation/gradual/discovery/provider.go
  specs/009-phase-5-completion/tasks.md
Due: unittests

feat(rotation): add percentage rollout strategy
  internal/rotation/gradual/percentage.go
  internal/rotation/gradual/percentage_test.go
Due: unittests

feat(rotation): add service group rotation strategy
  internal/rotation/gradual/group.go
  internal/rotation/gradual/group_test.go
Due: unittests

feat(rotation): add instance discovery providers
  internal/rotation/gradual/discovery/cloud.go
  internal/rotation/gradual/discovery/endpoint.go
  internal/rotation/gradual/discovery/kubernetes.go
Due: unittests

docs(rotation): mark SPEC-009 Phase 5 as implemented
  docs/content/reference/status.md
  specs/009-phase-5-completion/spec.md
  specs/009-phase-5-completion/tasks.md
Due: none

docs(rotation): add example configs for Phase 5 features
  examples/gradual-rollout/canary.yaml
  examples/gradual-rollout/kubernetes.yaml
  examples/gradual-rollout/percentage.yaml
  examples/gradual-rollout/service-group.yaml
  examples/health-checks/combined.yaml
  examples/health-checks/custom-script.yaml
  examples/health-checks/http-health.yaml
  examples/health-checks/sql-health.yaml
  examples/notifications/email.yaml
  examples/notifications/multi-channel.yaml
  examples/notifications/pagerduty.yaml
  examples/notifications/slack.yaml
  examples/notifications/webhook.yaml
Due: none

docs(rotation): add user guides for Phase 5 features
  docs/content/rotation/gradual-rollout.md
  docs/content/rotation/health-checks.md
  docs/content/rotation/notifications.md
Due: none

chore(rotation): mark Phase 5 documentation tasks complete
  specs/009-phase-5-completion/tasks.md
Due: none

test(notifications): add integration tests for email, pagerduty, and webhook
  internal/rotation/notifications/pagerduty.go
  specs/009-phase-5-completion/tasks.md
  tests/integration/docker-compose.yml
  tests/integration/notifications_email_test.go
  tests/integration/notifications_pagerduty_test.go
  tests/integration/notifications_webhook_test.go
Due: unittests, integration

ci: fix GitHub Actions failures and reduce coverage threshold
  .github/workflows/integration.yml
  .github/workflows/test.yml
  cmd/dsops/commands/doctor_test.go
  cmd/dsops/commands/get_test.go
  cmd/dsops/commands/plan_test.go
  cmd/dsops/commands/rotation_history.go
  cmd/dsops/commands/rotation_rollback.go
  cmd/dsops/commands/rotation_status.go
  internal/execenv/exec_test.go
  internal/logging/redaction_test.go
  internal/providers/vault/vault_unit_test.go
  internal/rotation/health/monitor.go
  internal/rotation/notifications/templates.go
  pkg/protocol/http_api.go
  pkg/protocol/http_api_test.go
  pkg/protocol/nosql.go
  pkg/protocol/sql.go
Due: unittests

fix(lint): fix remaining lint errors (errcheck, staticcheck, unused)
  cmd/dsops/commands/helpers.go
  cmd/dsops/commands/render_test.go
  cmd/dsops/commands/rotation_rollback_test.go
  cmd/dsops/commands/rotation_status.go
  cmd/dsops/commands/rotation_test.go
  internal/dsopsdata/service_factory_test.go
  internal/logging/redaction_test.go
  internal/providers/vault/vault_unit_test.go
  internal/rotation/gradual/discovery/endpoint.go
  internal/rotation/health/http.go
  internal/rotation/health/metrics_test.go
  internal/rotation/health/sql_test.go
  internal/rotation/notifications/email.go
  internal/rotation/notifications/email_test.go
  pkg/protocol/http_api.go
  pkg/protocol/sql.go
  pkg/protocol/sql_execute_test.go
  pkg/rotation/engine.go
  pkg/rotation/examples_test.go
  pkg/secretstore/examples_test.go
  tests/integration/health_test.go
  tests/integration/notifications_email_test.go
  tests/integration/notifications_pagerduty_test.go
  tests/integration/rotation/postgres_test.go
  tests/testutil/docker.go
Due: unittests

test(integration): fix Docker health checks and container isolation
  Makefile
  tests/integration/docker-compose.yml
  tests/testutil/docker.go
Due: integration

fix(test): resolve QueryRow context canceled errors in PostgreSQL tests
  tests/testutil/docker.go
Due: none

test(rotation): remove flaky concurrent_user_operations test
  docs/developer/testing.md
  specs/009-phase-5-completion/research.md
  tests/README.md
  tests/integration/rotation/postgres_test.go
  tests/testutil/docker.go
Due: none

feat(rotation): implement notification system and automatic rollback
  cmd/dsops/commands/secrets_rotate.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/notifications.go
  internal/rotation/gradual/strategy.go
  internal/rotation/health/checker.go
  internal/rotation/notifications/event.go
  internal/rotation/notifications/manager.go
  internal/rotation/notifications/manager_test.go
  internal/rotation/notifications/metrics.go
  internal/rotation/notifications/provider.go
  internal/rotation/notifications/slack.go
  internal/rotation/notifications/slack_test.go
  internal/rotation/rollback/config.go
  internal/rotation/rollback/manager.go
  internal/rotation/rollback/manager_test.go
  internal/rotation/rollback/state.go
  pkg/rotation/engine.go
  specs/009-phase-5-completion/tasks.md
Due: unittests

docs(spec-009): add implementation plan and task breakdown for rotation phase 5
  specs/009-phase-5-completion/plan.md
  specs/009-phase-5-completion/spec.md
  specs/009-phase-5-completion/tasks.md
Due: none

Path conditions:
  unittests: any of: internal/, pkg/, cmd/, but not: tests/fixtures/**/*, tests/mocks/**/*, tests/fakes/**/*, tests/testutil/**/*, **/*_test.go, vendor/**/*, examples/**/*
  integration: any of: tests/integration/, but not: tests/fixtures/**/*, tests/mocks/**/*, tests/fakes/**/*, tests/testutil/**/*, **/*_test.go, vendor/**/*, examples/**/*
