Repository systmms/dsops: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

chore(deps): add Dependabot configuration with aggressive grouping
  .github/dependabot.yml
Due: none

chore(ci): add workflow to use fix(deps) prefix for security updates
  .github/workflows/dependabot-security-prefix.yml
Due: none

fix(security): resolve all gosec findings (G704, G703, G122)
  internal/dsopsdata/loader.go
  internal/incident/notifications.go
  internal/providers/vault/client.go
  internal/rotation/storage/file_storage.go
  pkg/protocol/http_api.go
Due: unittests

fix(lint): handle os.Root.Close() return value for errcheck
  internal/dsopsdata/loader.go
  internal/rotation/storage/file_storage.go
Due: unittests

Add Dependabot configuration for automated dependency updates (#27)
  .github/dependabot.yml
  .github/workflows/dependabot-security-prefix.yml
Due: none

fix(test): resolve memguard deadlock in secure buffer tests
  internal/secure/enclave_test.go
Due: none

fix(lint): replace deprecated WithCredentialsFile with WithAuthCredentialsFile
  internal/providers/gcp_secretmanager.go
Due: unittests

fix(ci): update Go toolchain to 1.25.8 for security patches
  go.mod
Due: none

fix(ci): pin Go 1.25.9 in CI workflow to match toolchain directive
  .github/workflows/ci.yml
  go.mod
Due: none

fix(ci): increase LocalStack health check timeout for CI reliability
  tests/integration/docker-compose.yml
  tests/testutil/docker.go
Due: integration

fix(ci): resolve test deadlock, deprecated API, and govulncheck failures (#37)
  .github/workflows/ci.yml
  go.mod
  internal/providers/gcp_secretmanager.go
  internal/secure/enclave_test.go
  tests/integration/docker-compose.yml
  tests/testutil/docker.go
Due: unittests, integration

chore(main): release 0.2.6
  .release-please-manifest.json
  CHANGELOG.md
Due: none

feat(bitwarden): implement custom field prefix and attachment retrieval
  docs/content/providers/bitwarden.md
  internal/providers/bitwarden.go
  internal/providers/bitwarden_internal_test.go
  internal/providers/bitwarden_mock_test.go
  internal/providers/bitwarden_test.go
Due: unittests

feat(bitwarden): support Card, Identity, and SSH Key item types
  docs/content/providers/bitwarden.md
  internal/providers/bitwarden.go
  internal/providers/bitwarden_internal_test.go
  internal/providers/bitwarden_mock_test.go
Due: unittests

feat(bitwarden): opt-in vault sync and headless API-key auth
  docs/content/providers/bitwarden.md
  examples/bitwarden.yaml
  internal/providers/bitwarden.go
  internal/providers/bitwarden_internal_test.go
  internal/providers/bitwarden_mock_test.go
Due: unittests

feat(bitwarden): add Bitwarden Secrets Manager provider (SPEC-024)
  docs/content/providers/bitwarden-secretsmanager.md
  examples/bitwarden-secretsmanager.yaml
  flake.nix
  internal/providers/bitwarden_internal_test.go
  internal/providers/bitwarden_secretsmanager.go
  internal/providers/bitwarden_secretsmanager_mock_test.go
  internal/providers/bitwarden_secretsmanager_test.go
  internal/providers/registry.go
  specs/024-bitwarden-secretsmanager/spec.md
  specs/025-bitwarden-pm-enhancements/spec.md
Due: unittests

fix(bitwarden): apply review feedback (CI gofmt, item.ID, headless in Resolve, cache scoping)
  docs/content/providers/bitwarden-secretsmanager.md
  examples/bitwarden-secretsmanager.yaml
  internal/providers/bitwarden.go
  internal/providers/bitwarden_mock_test.go
  internal/providers/bitwarden_secretsmanager.go
  internal/providers/bitwarden_secretsmanager_mock_test.go
  specs/024-bitwarden-secretsmanager/spec.md
Due: unittests

fix(ci): bump Go toolchain 1.25.9 -> 1.25.10 to clear govulncheck
  .github/workflows/ci.yml
  go.mod
Due: none

fix(deps,bws): bump x/net for govulncheck + fix bws secret list syntax
  go.mod
  go.sum
  internal/providers/bitwarden_secretsmanager.go
  internal/providers/bitwarden_secretsmanager_mock_test.go
Due: unittests

fix(bitwarden): address Codex round-2 review (retries, empty defaults, cache)
  internal/providers/bitwarden.go
  internal/providers/bitwarden_mock_test.go
  internal/providers/bitwarden_secretsmanager.go
  internal/providers/bitwarden_secretsmanager_mock_test.go
  specs/024-bitwarden-secretsmanager/spec.md
Due: unittests

Add Bitwarden Secrets Manager provider and enhance Password Manager (#49)
  .github/workflows/ci.yml
  docs/content/providers/bitwarden-secretsmanager.md
  docs/content/providers/bitwarden.md
  examples/bitwarden-secretsmanager.yaml
  examples/bitwarden.yaml
  flake.nix
  go.mod
  go.sum
  internal/providers/bitwarden.go
  internal/providers/bitwarden_internal_test.go
  internal/providers/bitwarden_mock_test.go
  internal/providers/bitwarden_secretsmanager.go
  internal/providers/bitwarden_secretsmanager_mock_test.go
  internal/providers/bitwarden_secretsmanager_test.go
  internal/providers/bitwarden_test.go
  internal/providers/registry.go
  specs/024-bitwarden-secretsmanager/spec.md
  specs/025-bitwarden-pm-enhancements/spec.md
Due: unittests

Draft SPEC-026: Bitwarden multi-account support
  specs/026-bitwarden-multi-account/checklists/requirements.md
  specs/026-bitwarden-multi-account/spec.md
Due: none

SPEC-026: plan, research, design artifacts for Bitwarden multi-account
  CLAUDE.md
  specs/026-bitwarden-multi-account/contracts/config-schema.md
  specs/026-bitwarden-multi-account/contracts/executor-interface.md
  specs/026-bitwarden-multi-account/data-model.md
  specs/026-bitwarden-multi-account/plan.md
  specs/026-bitwarden-multi-account/quickstart.md
  specs/026-bitwarden-multi-account/research.md
Due: none

SPEC-026: tasks.md for Bitwarden multi-account
  specs/026-bitwarden-multi-account/tasks.md
Due: none

SPEC-026: address PR review comments
  specs/026-bitwarden-multi-account/contracts/config-schema.md
  specs/026-bitwarden-multi-account/contracts/executor-interface.md
  specs/026-bitwarden-multi-account/data-model.md
  specs/026-bitwarden-multi-account/quickstart.md
  specs/026-bitwarden-multi-account/research.md
  specs/026-bitwarden-multi-account/spec.md
  specs/026-bitwarden-multi-account/tasks.md
Due: none

SPEC-026 Phase 2: foundational executor + bitwarden refactor
  internal/providers/bitwarden.go
  internal/providers/bitwarden_internal_test.go
  internal/providers/registry.go
  pkg/exec/executor.go
  pkg/exec/executor_test.go
  specs/026-bitwarden-multi-account/tasks.md
Due: unittests

SPEC-026 Phase 3 (US1 MVP): appDataDir isolation + email guard + doctor block
  cmd/dsops/commands/bitwarden_doctor.go
  cmd/dsops/commands/bitwarden_doctor_test.go
  cmd/dsops/commands/doctor.go
  internal/providers/bitwarden.go
  internal/providers/bitwarden_mock_test.go
  specs/026-bitwarden-multi-account/tasks.md
  tests/testutil/cmd_executor.go
Due: unittests

SPEC-026 Phase 4 (US2): server URL reconciliation
  internal/providers/bitwarden.go
  internal/providers/bitwarden_mock_test.go
  specs/026-bitwarden-multi-account/tasks.md
Due: unittests

SPEC-026 Phase 5 (US3): headless multi-account + collision detection
  internal/providers/bitwarden.go
  internal/providers/bitwarden_mock_test.go
  specs/026-bitwarden-multi-account/tasks.md
Due: unittests

SPEC-026 Phase 6: examples, docs, status dashboard, spec status
  docs/content/providers/bitwarden.md
  docs/content/reference/status.md
  examples/bitwarden-multi-account.yaml
  specs/026-bitwarden-multi-account/spec.md
  specs/026-bitwarden-multi-account/tasks.md
Due: none

SPEC-026 review fix-up: failing tests for findings #1-#15
  cmd/dsops/commands/bitwarden_doctor_test.go
  internal/config/example_bitwarden_multi_account_test.go
  internal/providers/bitwarden_mock_test.go
Due: none

SPEC-026 review fix-up: implement findings #1-#15
  cmd/dsops/commands/bitwarden_doctor.go
  internal/providers/bitwarden.go
  internal/providers/bitwarden_internal_test.go
  internal/providers/bitwarden_mock_test.go
  pkg/adapter/provider_adapter.go
Due: unittests

Draft SPEC-026: Bitwarden multi-account support (#51)
  CLAUDE.md
  cmd/dsops/commands/bitwarden_doctor.go
  cmd/dsops/commands/bitwarden_doctor_test.go
  cmd/dsops/commands/doctor.go
  docs/content/providers/bitwarden.md
  docs/content/reference/status.md
  examples/bitwarden-multi-account.yaml
  internal/config/example_bitwarden_multi_account_test.go
  internal/providers/bitwarden.go
  internal/providers/bitwarden_internal_test.go
  internal/providers/bitwarden_mock_test.go
  internal/providers/registry.go
  pkg/adapter/provider_adapter.go
  pkg/exec/executor.go
  pkg/exec/executor_test.go
  specs/026-bitwarden-multi-account/checklists/requirements.md
  specs/026-bitwarden-multi-account/contracts/config-schema.md
  specs/026-bitwarden-multi-account/contracts/executor-interface.md
  specs/026-bitwarden-multi-account/data-model.md
  specs/026-bitwarden-multi-account/plan.md
  specs/026-bitwarden-multi-account/quickstart.md
  specs/026-bitwarden-multi-account/research.md
  specs/026-bitwarden-multi-account/spec.md
  specs/026-bitwarden-multi-account/tasks.md
  tests/testutil/cmd_executor.go
Due: unittests

docs(spec): add task breakdown for SPEC-025 psst provider
  specs/025-psst-provider/tasks.md
Due: none

docs(spec): add implementation plan for SPEC-025 psst provider
  specs/025-psst-provider/data-model.md
  specs/025-psst-provider/plan.md
  specs/025-psst-provider/quickstart.md
  specs/025-psst-provider/research.md
Due: none

docs(spec): add SPEC-025 psst provider integration
  specs/025-psst-provider/checklists/requirements.md
  specs/025-psst-provider/spec.md
Due: none

Path conditions:
  unittests: any of: internal/, pkg/, cmd/, but not: tests/fixtures/**/*, tests/mocks/**/*, tests/fakes/**/*, tests/testutil/**/*, **/*_test.go, vendor/**/*, examples/**/*
  integration: any of: tests/integration/, but not: tests/fixtures/**/*, tests/mocks/**/*, tests/fakes/**/*, tests/testutil/**/*, **/*_test.go, vendor/**/*, examples/**/*
