Repository systmms/dsops: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  unittests:
    paths:
      - internal/
      - pkg/
      - cmd/
    carryforward: false

  integration:
    paths:
      - tests/integration/
    carryforward: false

ignore:
  - "tests/fixtures/**/*"
  - "tests/mocks/**/*"
  - "tests/fakes/**/*"
  - "tests/testutil/**/*"
  - "**/*_test.go"
  - "vendor/**/*"
  - "examples/**/*"

fix(release): move completion generation to before hooks
  .goreleaser.yml
Due: none

chore(main): release 0.2.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore: add MIT LICENSE file
  LICENSE
Due: none

fix(release): migrate to homebrew_casks and dockers_v2
  .goreleaser.yml
Due: none

chore(main): release 0.2.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: add goreleaser snapshot build test
  .github/workflows/release-config-check.yml
Due: none

fix(release): add docker buildx setup for attestation support
  .github/workflows/release-config-check.yml
  .github/workflows/release.yml
  Makefile
Due: none

fix(release): add separate Dockerfile for GoReleaser builds
  .goreleaser.yml
  Dockerfile.goreleaser
Due: none

fix(tests): use dynamic port allocation to prevent flaky tests
  tests/integration/docker-compose.yml
  tests/integration/health_test.go
  tests/integration/notifications_email_test.go
  tests/integration/providers/error_handling_test.go
  tests/integration/providers/vault_test.go
  tests/testutil/docker.go
Due: integration

chore(main): release 0.2.3
  .release-please-manifest.json
  CHANGELOG.md
Due: none

test(template): add comprehensive tests for helper functions
  internal/template/helpers_test.go
Due: none

test(discovery): add tests for cloud, kubernetes, and endpoint providers
  internal/rotation/gradual/discovery/cloud_test.go
  internal/rotation/gradual/discovery/endpoint_test.go
  internal/rotation/gradual/discovery/kubernetes_test.go
Due: none

test(permissions): add edge case tests for credential validation and environment restrictions
  internal/permissions/checker_test.go
Due: none

test(commands): add edge case tests for get command
  cmd/dsops/commands/get_test.go
Due: none

fix(permissions): complete environment restriction test assertion
  internal/permissions/checker_test.go
Due: none

feat(specs): add SPEC-021 for new secret store providers
  docs/content/reference/status.md
  specs/021-new-providers/checklists/requirements.md
  specs/021-new-providers/contracts/akeyless.go
  specs/021-new-providers/contracts/infisical.go
  specs/021-new-providers/contracts/keychain.go
  specs/021-new-providers/data-model.md
  specs/021-new-providers/plan.md
  specs/021-new-providers/research.md
  specs/021-new-providers/spec.md
  specs/021-new-providers/tasks.md
Due: none

refactor(tests): address PR review feedback for test quality
  cmd/dsops/commands/get_test.go
  internal/permissions/checker_test.go
Due: none

feat(providers): add shared infrastructure for new providers
  internal/providers/contracts/akeyless.go
  internal/providers/contracts/infisical.go
  internal/providers/contracts/keychain.go
  internal/providers/errors.go
  internal/providers/factory.go
  internal/providers/token_cache.go
  tests/fakes/doc.go
  tests/fakes/fake_akeyless.go
  tests/fakes/fake_infisical.go
  tests/fakes/fake_keychain.go
Due: unittests

feat(providers): add OS keychain provider for macOS and Linux
  internal/providers/keychain.go
  internal/providers/keychain_darwin.go
  internal/providers/keychain_linux.go
  internal/providers/keychain_test.go
  internal/providers/keychain_unsupported.go
  specs/021-new-providers/contracts/keychain.go
Due: unittests

feat(providers): add Infisical secret management provider
  internal/providers/infisical.go
  internal/providers/infisical_client.go
  internal/providers/infisical_test.go
Due: unittests

feat(providers): add Akeyless enterprise secret management provider
  go.mod
  go.sum
  internal/providers/akeyless.go
  internal/providers/akeyless_client.go
  internal/providers/akeyless_test.go
Due: unittests

feat(cli): integrate keychain, infisical, and akeyless providers
  cmd/dsops/commands/doctor.go
  cmd/dsops/commands/providers.go
  internal/providers/registry.go
Due: unittests

docs: add documentation for keychain, infisical, and akeyless providers
  docs/content/providers/_index.md
  docs/content/providers/akeyless.md
  docs/content/providers/infisical.md
  docs/content/providers/keychain.md
  examples/akeyless.yaml
  examples/infisical.yaml
  examples/keychain.yaml
Due: none

chore(specs): mark SPEC-021 new providers as implemented
  specs/021-new-providers/spec.md
Due: none

fix(nix): ensure golangci-lint is built with Go 1.25+
  flake.nix
Due: none

feat(release): add shell completions and update task tracking
  completions/dsops.bash
  completions/dsops.fish
  completions/dsops.zsh
  specs/020-release-distribution/tasks.md
Due: none

fix(providers): handle resp.Body.Close() errors in infisical client
  internal/providers/infisical_client.go
Due: unittests

chore(specs): update SPEC-021 task completion status
  specs/021-new-providers/tasks.md
Due: none

fix(release): add Docker login to verify job
  .github/workflows/release.yml
Due: none

fix(release): add retry logic to Docker verification
  .github/workflows/release.yml
Due: none

test(providers): add integration tests for infisical and akeyless
  tests/integration/providers/akeyless_integration_test.go
  tests/integration/providers/infisical_integration_test.go
Due: none

chore(specs): mark T087 and T088 integration tests complete
  specs/021-new-providers/tasks.md
Due: none

chore(release): add verbose logging to debug Docker push issue
  .github/workflows/release.yml
Due: none

fix(providers): address PR review feedback
  cmd/dsops/commands/doctor.go
  internal/providers/akeyless.go
  internal/providers/infisical.go
  internal/providers/keychain.go
Due: unittests

fix(release): strip v prefix for Docker image verification
  .github/workflows/release.yml
Due: none

style(doctor): use tagged switch for status code checks
  cmd/dsops/commands/doctor.go
Due: unittests

docs: add CONTRIBUTING.md and update SPEC-020 tasks
  CONTRIBUTING.md
  specs/020-release-distribution/tasks.md
Due: none

fix(release): use brews instead of homebrew_casks for CLI tool
  .goreleaser.yml
Due: none

fix(release): revert to homebrew_casks (GoReleaser v2.10+ recommended)
  .goreleaser.yml
  specs/020-release-distribution/contracts/goreleaser.yaml
Due: none

docs(release): mark T026 Homebrew installation test as complete
  specs/020-release-distribution/tasks.md
Due: none
